body {
    max-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .map__container {
    height: 600px;
    margin: 25px auto;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(81, 78, 78);
  }